:root {
    --calculator-main-color: rgb(44, 44, 44);
    --operator-buttons-color: rgb(82, 76, 76);
    --no-operator-buttons-color: rgb(0, 0, 0);
    --hover-color: rgb(184, 178, 178);
}

body {
    background-color: #000c52;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

#calculator {
    background: var(--calculator-main-color);
    border-radius: 5px;
}

#calculator_screen {
    background: var(--calculator-main-color);
    margin: 5px;
    border-radius: 5px;
}

#screen_text {
    text-align: end;
    margin-right: 5px;
    color: #fff;
    font-size: 150%;
}

button {
    width: 50px;
    height: 30px;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    font-size: 115%;
}

#calculator_buttons {
    padding: 5px;
}

.row {
    padding-bottom: 2px;
}

.operator {
    background: var(--operator-buttons-color);
}

.not_operator {
    background: var(--no-operator-buttons-color);
}

button:hover {
    background: var(--hover-color);
}
