body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background: #000c52;
}

.calculadora {
  background: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
}

.tela-calculadora {
  background-color: #c5c9df;
  margin: 5px;
  border-radius: 5px;
}

.texto-tela {
  text-align: end;
  margin-right: 5px;
}

.botao {
  margin: 2px;
  padding: 5px;
  width: 50px;
  height: 30px;
}
